#cloud-config
hostname: ${hostname}
timezone: Europe/Stockholm
users:
  - default
  - name: ${username}
    groups:
      - sudo
    shell: /bin/bash
    ssh_authorized_keys:
      - ${ssh_key}
    sudo: ALL=(ALL) NOPASSWD:ALL

package_update: true
packages:
  - qemu-guest-agent
  - net-tools
  - curl
  - git
  - ansible

write_files:
  ${write_files_block}
runcmd:
  - systemctl daemon-reexec
  - systemctl daemon-reload
  ${ansible-pull-install}
  - systemctl enable ansible-pull.timer
  - systemctl start ansible-pull.timer
  - systemctl enable qemu-guest-agent
  - systemctl start qemu-guest-agent
  - echo "Provisioning completed at $(date -Is)" > /var/log/cloud-init-confirmation.log
