[submodule "apps"]
	path = apps
	url = git@github.com:digidaniel-dev/homelab.apps.git
	branch = main
[submodule "platform"]
	path = platform
	url = git@github.com:digidaniel-dev/homelab.platform.git
[submodule "compute"]
	path = compute
	url = git@github.com:digidaniel-dev/homelab.compute.git
[submodule "docs"]
	path = docs
	url = git@github.com:digidaniel-dev/homelab.docs.git
[submodule "network"]
	path = network
	url = git@github.com:digidaniel-dev/homelab.network.git
