[submodule "apps"]
	path = apps
	url = git@github.com:wollbro/homelab.apps.git
	branch = main
[submodule "compute"]
	path = compute
	url = git@github.com:wollbro/homelab.compute.git
	branch = main
[submodule "platform"]
	path = platform
	url = git@github.com:wollbro/homelab.platform.git
	branch = main
[submodule "docs"]
	path = docs
	url = git@github.com:wollbro/homelab.docs.git
	branch = main
[submodule "network"]
	path = network
	url = git@github.com:wollbro/homelab.network.git
	branch = main
[submodule "bootstrap"]
	path = bootstrap
	url = git@github.com:wollbro/homelab.bootstrap.git
	branch = main
