
terraform_user: terraform
realm: pve
terraform_role: terraform
permissions: |
  Datastore.Allocate
  Datastore.AllocateSpace
  Datastore.AllocateTemplate
  Datastore.Audit
  Pool.Allocate
  Sys.Audit
  Sys.Console
  Sys.Modify
  SDN.Use
  VM.Allocate
  VM.Audit
  VM.Clone
  VM.Config.CDROM
  VM.Config.Cloudinit
  VM.Config.CPU
  VM.Config.Disk
  VM.Config.HWType
  VM.Config.Memory
  VM.Config.Network
  VM.Config.Options
  VM.Migrate
  VM.Monitor
  VM.PowerMgmt
  User.Modify
  Mapping.Modify
