[Unit]
Description={{ service_description }}
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/ansible-pull -U {{ git_repo }} playbooks/{{ playbook }}.yml -C main -d /root/.ansible-cache/{{ service_name }}
WorkingDirectory=/root
StandardOutput=journal
StandardError=journal
