ui = true

storage "raft" {
  path    = "/opt/vault/data"
  node_id = "{{ ansible_hostname }}"
}

listener "tcp" {
  address         = "{{ vault_ip }}:8200"
  cluster_address = "{{ vault_ip }}:8201"
  tls_disable     = true
}

disable_mlock = true

cluster_name = "vault-cluster"
api_addr     = "http://{{ vault_ip }}:8200"
cluster_addr = "http://{{ vault_ip }}:8201"

